<script context="module">
  export const load = ({ url }) => {
    const currentRoute = url.pathname

    return {
      props: {
        currentRoute
      }
    }
  }
</script>

<script>
  import { todos } from '../stores.js';
  import Header from '$lib/components/Header.svelte';
  import { fade } from 'svelte/transition';
  import '$lib/styles/base.scss';

  export let currentRoute
</script>

<Header/>


{#key currentRoute}
  <main class:fat={currentRoute == "/"} in:fade={{ duration: 150, delay: 150 }} out:fade={{ duration: 150 }}>
    <slot />
  </main>
{/key}

<footer>
  <a href="https://gitlab.com/Meptl/dewtime">
    <img alt="gitlab logo" width="64px" height="64px" src="pub/gitlab-logo-500.svg">
  </a>
</footer>

<style>
  .fat {
    max-width: 70rem;
  }
  footer {
    padding: 40px 20px;
  }
  img {
    filter: hue-rotate(202deg) contrast(50%);
    float: right;
  }
</style>
