<script type="ts">
    import ResetDialogue from '../lib/components/ResetDialogue.svelte';
    import NotificationDialogue from '../lib/components/NotificationDialogue.svelte';
    import Form from '../lib/components/Form.svelte';
    import TodoList from '../lib/components/TodoList.svelte';
    import DurationText from '../lib/components/DurationText.svelte';
    import { todos } from '../stores.js';
    import { fade } from 'svelte/transition';

    $: currentlyRunning = $todos.find((e) => e.isRunning);
    $: taskRunning = currentlyRunning == null;
    $: totalDuration = $todos.reduce((accum, current) => {
        return accum + current["duration"];
    }, 0);
</script>

{#if taskRunning}
    <h1 in:fade>DewTime</h1>
{:else}
    <h1 class="taskRunning" in:fade>{currentlyRunning.name}</h1>
{/if}
<div class="inputs">
    <span><Form/></span>
    <span>
        <ResetDialogue/>
        <NotificationDialogue/>
    </span>
</div>
<TodoList/>
<div class="duration">
    Total: <DurationText duration={totalDuration}/>
</div>


<style lang="scss">
    @import '../lib/styles/colors.scss';

    h1 {
        text-align: center;
        font-size: max(5vw, 30px);
        font-weight: 1000;
        color: $subtle;
        margin-bottom: 7vh;
        margin-top: 0;
    }
    .taskRunning {
        color: $notable;
    }
    .inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 8vh;

        span {
          margin-bottom: 24px;
        }
    }
    .duration {
        display: inline;
        float: right;
        font-size: 1.2em;
        padding: 10px;
        margin-top: 20px;
        color: $subtle;
    }
</style>
