@import './colors.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  color: $notable;
  font-family: sans-serif;
  min-height: 100vh;
}

h1 {
  margin-top: 1.6em;
}

a, a:hover, a:visited, a:active {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.8;
  margin-bottom: 1.4em;
}

main {
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
}
