<script>
  export let duration;

  $: durationHours = Math.floor(duration / 60 / 60);
  $: durationMinutes = Math.floor((duration % 3600) / 60);
</script>

<span class="duration">
  {#if durationHours > 0}
    <span class="time-val">{durationHours}</span><!--
    --><span class="time-unit">h</span>
  {/if}
  {#if durationMinutes > 0}
    <span class="time-val">{durationMinutes}</span><!--
    --><span class="time-unit">m</span>
  {/if}
  {#if durationHours == 0 && durationMinutes == 0}
    <span class="time-val">0</span><!--
    --><span class="time-unit">h</span>
  {/if}
</span>

<style>
  .duration {
    margin:0;
    padding:0;
  }
  .time-val {
    font-size: 1.2em;
  }
  .time-unit {
    font-size: 0.9em;
  }
</style>
