<script>
  import { todos } from '../../stores.js'
  import * as TodoApi from '../todo.ts'
    let todoName = '';
    let duration = '';
    let todoInputComponent;
    let durationInputComponent;

    let taskMissing = false;
    let timeMissing = false;

    function onSubmit(e) {
      // Clear errors.
      taskMissing = false;
      timeMissing = false;

      if (e.target.task.value == "") {
        taskMissing = true;
      }
      if (e.target.duration.value == "") {
        timeMissing = true;
      }

      if (!taskMissing && !timeMissing) {
        TodoApi.add(todoName, durationInSeconds());
      }

      // Clear the form.
      todoName = '';
      duration = '';
      todoInputComponent.focus();
    }

  function durationInSeconds() {
    const reUnits = /[hm]/;
    if (!reUnits.test(duration)) {
      let time = parseInt(duration);
      return time * 60;
    }

    let seconds = 0;
    const reHours = /(\d+)h/;
    let matches = duration.match(reHours);
    if (matches) {
      seconds += parseInt(matches[1]) * 60 * 60;
    }

    let remainder = duration.replace(reHours, "");
    const reMins = /(\d+)m?/;
    matches = remainder.match(reMins);
    if (matches) {
      seconds += parseInt(matches[1]) * 60;
    }
    return seconds;
  }

  function handleInput(e) {
    const disallowed = /[^0-9hm]|m.*m|h.*h|hm|mh|^[hm]|\d\d\d/;
    let oldValue = duration;
    let newValue = e.target.value;
    if (disallowed.test(newValue)) {
      duration = oldValue;
      e.target.value = duration;
    } else {
      duration = newValue;
      e.target.value = duration;
    }
  }
</script>

<form on:submit|preventDefault={onSubmit}>
    <input
      class:errant={taskMissing}
      name="task"
      bind:value={todoName}
      bind:this={todoInputComponent}
      placeholder="Task"
      on:keydown={(e) => {
        if (e.key === 'Enter') {
          e.preventDefault();
          durationInputComponent.focus();
        }
      }}/>
    <input
      class:errant={timeMissing}
      name="duration"
      class="duration-input"
      on:input|preventDefault={handleInput}
      bind:value={duration}
      bind:this={durationInputComponent}
      placeholder="1h15m"
      style="width: {duration.length+1}ch"
      />
    <button type="submit">+</button>
</form>

<style lang="scss">
  @import 'colors.scss';

  input, button {
    padding: 10px;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    background-color: $normal;
    color: $notable;
    border-radius: 5px;
  }

  input:focus {
    outline:none;
  }

  input::placeholder {
    color: $subtle;
  }

  .errant {
    box-shadow: inset 0px 0px 0px 3px $notable;
  }

  .duration-input {
    min-width: 83px;
    transition: width 100ms linear;
    text-align: right;
  }

  button {
    color: $notable;
  }

  button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  }
</style>
