<script>
  import { page } from '$app/stores';
  let links = [
    { name: 'Home', path: '/' },
    { name: 'About', path: '/about' },
  ];
</script>

<svelte:head>
	<title>DewTime</title>
	<meta name="description" content="A Todo list time tracking app" />
</svelte:head>

<header>
  <a href="/"><img class="logo" alt="logo" src="pub/logo.svg"/></a>
  <nav>
    <ul>
      {#each links as {name, path}}
        <li class:active={$page.url.pathname === {path}}>
          <a sveltekit:prefetch href={path}>{name}</a>
        </li>
      {/each}
    </ul>
  </nav>
</header>

<style lang="scss">
  @import './colors.scss';

  header {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: $notable;
  }

  nav {
    margin-right: 50px;
    font-weight: 700;
    font-size: 1rem;
  }

  .logo {
    width: 75px;
  }
</style>
