<script>
  import { sendNotifications } from '../../stores.js'

  function askNotification() {
    if (!$sendNotifications) {
      return;
    }

    if (Notification.permission == 'default') {
      Notification.requestPermission();
    }

    console.log("hi");
  }
</script>

<div>
  <span class="label">Send Notifications:</span>
  <input type="checkbox" bind:checked={$sendNotifications} on:change={askNotification}>
  <span class="checkbox-custom"></span>
</div>

<style lang="scss">
  @import './colors.scss';

  div {
    height: 100%;
  }

  .label {
    font-size: 1.3em;
    text-align: right;
    font-weight: 500;
    color: $subtle;
    margin-bottom: 10px;
    margin-right: 1em;
  }

  input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    margin: 2px;
    width: 19px;
    height: 19px;
  }

  .checkbox-custom {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $normal;
    border-radius: 5px;
    pointer-events: none;
    transition: background-color 0.2s ease;
  }

  input:checked + .checkbox-custom {
    background-color: $subtle;
  }
</style>
