<script>
  import { todos, lastReset, resetTime } from '../../stores.js'
  import { onMount, onDestroy } from 'svelte';
  import * as TodoApi from '../todo.ts'

  function updateResetTime() {
    const d = new Date();
    const [hour, minute] = $resetTime.split(":");

    const hourDiff = d.getHours() - hour;
    const minuteDiff = d.getMinutes() - minute;


    const totalMsDiff = hourDiff * 60 * 60 * 1000 + minuteDiff * 60 * 1000;

    $lastReset = (new Date(Date.now() - totalMsDiff)).getTime();
  }

  function resetTimersIfNeeded() {
    const ms24hours = 24 * 60 * 60 * 1000
    if (Date.now() - $lastReset > ms24hours) {
      TodoApi.resetAll();
      updateResetTime();
    }
  }

  const interval = setInterval(resetTimersIfNeeded, 60 * 1000);
  onMount(resetTimersIfNeeded)
  onDestroy(() => clearInterval(interval));

</script>

<div>
  <span>Daily Reset Time:</span>
  <input type="time" bind:value={$resetTime} on:change={updateResetTime} required>
</div>

<style lang="scss">
  @import './colors.scss';

  div {
    height: 100%;
    margin-bottom: 15px;
  }

  span {
    font-size: 1.3em;
    text-align: right;
    font-weight: 500;
    color: $subtle;
    margin-bottom: 10px;
  }

  input {
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    background-color: $normal;
    color: $notable;
    padding: 10px 6px 10px 15px;
    border-radius: 5px;
    margin-left: 1em;
  }

  input:focus {
    outline:none;
  }
</style>
