<script>
  import {dndzone} from 'svelte-dnd-action';
  import {flip} from 'svelte/animate';
  import { todos } from '../../stores.js'
  import Todo from './Todo.svelte';

  const flipDurationMs = 200;

  function handleSort(e) {
    $todos = e.detail.items
  }
</script>


<section use:dndzone={{items:$todos, flipDurationMs}} on:consider={handleSort} on:finalize={handleSort}>
  {#each $todos as item (item.id)}
    <div animate:flip={{duration:flipDurationMs}}>
      <Todo {item}/>
      </div>
    {/each}
  </section>

<style>
  section {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    overflow: hidden;
  }

  div {
    height: 3.5em;
    width: 100%;
  }
</style>
