<script>
  export let item;

  import { sendNotifications } from '../../stores.js'
  import { onDestroy } from 'svelte';
  import { tweened } from 'svelte/motion';
  import * as TodoApi from '../todo.ts'
  import DurationText from './DurationText.svelte';

  let updateInterval = 500;
  let progressBarSize = tweened(TodoApi.itemProgress(item), {duration: 0});
  let progress = 0.0;

  $: complete = progress >= 1.0 ? 'complete' : 'working';

  function applyTimer() {
    TodoApi.toggleTimer(item.id);
  }

  function deleteItem() {
    TodoApi.remove(item.id);
  }

  const interval = setInterval(() => {
    let p = TodoApi.itemProgress(item);
    progressBarSize.set(p, {duration: updateInterval});
    // sendNotifications if needed.
    if (item['notified'] == false && p >= 1.0 && $sendNotifications) {
      new Notification(item.name, {
        body: "Your task is done!",
        icon: "/pub/logo.svg"
      });
      TodoApi.notified(item.id, true);
    }
  }, updateInterval);
  onDestroy(() => clearInterval(interval))
</script>

<div class="todo" class:running={item.isRunning} on:click={applyTimer}>
  <span class="task-name">{item.name}</span>
  <span>
    <DurationText duration={item["duration"]}/>
    <button on:click={deleteItem}>
      <img alt="trashcan" src="pub/trashcan.png" height="16" width="16"/>
    </button>
  </span>
</div>
<div class="progress-bar" class:running={item.isRunning} class:complete={progress >= 1.0} style="width: {$progressBarSize * 100}%;">
</div>

<style lang="scss">
  @import 'colors.scss';

  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .todo {
    color: $notable;
    background-color: $darker;
    position: relative;
    z-index: 1;
    transition: background-color 100ms linear;

    & span {
      color: $focus;
    }
  }
  .todo.running {
    background-color: $normal;
  }
  .task-name {
    align-self: center;
    padding-left: 1.5em;
    font-size: 1.2em;
  }
  button {
    height: 100%;
    padding: 15px;
    border: none;
    background: none;
  }
  button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }
  button img {
    filter: invert(60%);
  }
  .progress-bar {
    transform-origin: left bottom;
    position: relative;
    /* Seems to be a bug in the drag and drop lib. Maybe. position:absolute is
     * window relative rather than container relative. */
    top: -100%;
    z-index: 2;
    opacity: 50%;

  }
  .progress-bar {
    background-color: $notable;
    background-blend-mode: multiply;
    transition: background-color 100ms linear;
    pointer-events: none;
  }
  .progress-bar.running {
    background-color: $notable;

    background-image: url('/pub/stripes-light.webp');
    background-attachment: fixed;
    background-repeat: repeat;

    animation-name: MOVE-BG;
    animation-duration: 250s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .progress-bar.complete {
    background-color: $subtle;
  }
  .progress-bar.complete.running {
    background-color: $notable;
  }
  @keyframes MOVE-BG {
    0% {
      background-position: center left;
    }
    100% {
      background-position: center right;
    }
  }
</style>
